.modal-content{
    box-shadow: 1px 1px 8px  #acacac;
}

.modal-header{
    box-shadow: 1px 0 10px #c0c0c0
}

.modal-title {
    /* color: #fff; */
    width: 100%;
    font-size: 16px;
}

.form-label{
    margin: 20px 0 0;
    font-size: 11px;
}

.form-control{
    border-radius: 1px;
}

.form-control:focus{
    box-shadow: 5px 5px 10px #c0c0c0;
    border: 1px solid #EBB753;
}

.botao-salvar {
    background: linear-gradient(8deg, rgb(219, 186, 0) 30%, hsl(51, 99%, 46%) 70%);
    font-family: font-family: 'Questrial', sans-serif;
    border-radius: 4px;
    border: none;
    padding: 10px;
}

.botao-salvar:hover {
    background: linear-gradient(191deg, hsl(51, 100%, 43%) 30%, hsl(51, 99%, 46%) 70%);
}