h5{
    color: white;
    margin-bottom: 2.5rem;
}

a{
    font-size: 13px;
}

footer{
    background-color: black;
}

ul{
    list-style-type: none;
    list-style: none;
}

li{
    display: inline;
}
<<<<<<< HEAD
=======

>>>>>>> ad1dd6222d5f2d17c46e3b8d2ddcf76926edcf05
