@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto+Condensed:wght@300&display=swap');

* {

    margin: 0;
}
body{
    background-color: #E0E0E0;
    width: 100%;
    
    
}

.pesquisar{
    background-color: #E0E0E0;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    
}

.pesquisar-encontre{
    margin-top: 100px;
    margin-bottom: 20px;
}

.pesq_categoria{
    margin-top: 5%;
}

.btn_pesquisa{
    margin-bottom: 5px;    
    margin-right: 50px;
    
   
}

.btn_pesquisa:hover{
    color: black;
    font-weight: bold;
}




.carosel_01{
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding-top: 5px;
    
}

.frt{
    width: 50px;
    height: 50px;
    display: flex;
    margin-left: 50px;
}
.logo_marcas{
    padding-top: 20px;    
    width: 100%;
}

.boxt{
    display: inline-block;
    width: 10%;
    height: 10%;
}

.slider{
    max-width: 1150px;
    display: flex;
}

.slider .card{
    flex: 1;
    margin: 0 5px;
}

.slider .card .img img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.social{
    background: rgb(214, 212, 212);
    margin-top: 95px;
    margin-bottom: 55px;
    text-align: center;
}
.texto_midia{
    margin-top: 10%;
}

.logo-centralizado{
    margin-left: 9%;
}
.logo-centralizado2{
    margin-left: 10%;
    
}

.fundo-filtro{
    background-color: #E0E0E0;
    margin-bottom: 2%;
}


    .linhaDestaque{
        font-weight: bold;
        margin-top: 50px;
        text-align: center;
        margin-bottom: 2px;
    }


.icon-close{
    width: 25px;
    height: 25px;
}

.modal-content{
    background-color: #000;
}

.modal-header{
    border-bottom: none;
}


.carousel-hipercarros{
    margin-top: 1px;
}

.carousel-tamanho{
    width: 120%;
    height: 98%;
}

.icons-marcas{
    margin-left: 20px;
}

.alinhamento_paragrafo{
    text-align:justify;
}

.botao-buscar {
    background: linear-gradient(8deg, rgb(179, 152, 4) 30%, rgb(223, 208, 126) 70%);
}

.botao-buscar:hover{
    background: linear-gradient(191deg, rgb(179, 152, 4) 30%, rgb(223, 208, 126) 70%);
}
