<<<<<<< HEAD
body{
    font-size: 10px;
    background-color: #E0E0E0;
}

header {
 
    background-color: black;
    color: yellow;
}

.section-content{
    height: calc( 100vh - 130px);
}

.page-content{
    max-width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
}

.card{
    width: 381px;
    height: 331px;
    margin: auto auto;
    background-color: #F0F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.formulario {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.formulario p {

    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #000000;
}

.formulario .send {
    width: 135px;
    height: 30px;

    background: #EBB753;
    border: 1px solid #858585;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}


.ou-div{
    margin: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    text-align: right;
}

input{
    width: 219px;
    height: 30px;
}

.senha {
    color:red;
    margin: auto;
}

/*-- START FOOTER -- */


h5{
    color: white;
    margin-bottom: 2.5rem;
}

a{
    font-size: 13px;
}

footer{
    background-color: black;
}

ul{
    list-style-type: none;
    list-style: none;
}

li{
    display: inline;
}

/* -- FIM FOOTER --*/


header {
 
    background-color: black;
    color: yellow;
}

body{
    background-color: #E0E0E0;
}


hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 370px;
    border: 2px solid  rgb(0, 119, 255);
   
}

.card { 
    transition: 0.5s; 
    border-radius: 2px;
    background-color: #E0E0E0;
    border: 1px solid #9e9e9e;
}

.card-title, .card-text{
    color: #000000;
}

.btn-warning{
    background-color: #EBB753;
    border-radius: 5px;
}


.list-group-item:hover{
    padding: 5px;
    background-color: #E0E0E0;
    width: 180px;
}

.navbar{
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: lpx solid transparent;
}

.title{
    padding: 5px;
    background-color: #E0E0E0;
    position: relative;
    margin-bottom: 20px;
    border: lpx solid transparent;
    margin-top: 15px;
    border-bottom: #9B9B9B 1px solid;
}

.border-bottom-menu{
    border-bottom: #9B9B9B 1px solid;
}

.black-color{
    color: #000000;
}

.buttom-width{
    width: 40%;

    
  
}

.list-group-item{
    background-color: #F0F0F0;
}


/* -- BEGIN HEADER -- */

header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;

    background-color: #000;
    
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 2%;
    padding-right: 5%;
    
}

.icons-header .icon-menu {
    padding-top: 70%;
}


.icon-logo {
    padding-left: 50%;
}

.right-icons-header {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;

    padding-right: 7%;
    
}

.icons-position-header {

    padding-top: 40%;
    margin-left: 10%; 

}


.teste {
    margin: 20px;
}

/*
button {
    background: linear-gradient(8deg, rgba(218,184,0,1) 30%, rgba(234,199,1,1) 70%);

    font-family: font-family: 'Questrial', sans-serif;
    
    border-radius: 4px;
    border: none;
    padding: 10px;
    
}

button:hover {
    background: linear-gradient(191deg, #dab800 30%, rgba(234,199,1,1) 70%);
}
*/


.background-menu {
    background-image: url('../imagens/bg-menu.png');
    background-repeat: no-repeat;
    background-position: center;
}

.font-menu {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}

.icons-header li {
   padding-top: 3%;
   padding-bottom:3%;
   /*border: 2px solid red;*/
   margin: 2%; 
}

li a {
    text-decoration: none;
}

.icons-header li:hover {
    background: linear-gradient(191deg, #dab800 30%, rgba(234,199,1,1) 70%);
}


/* -- END HEADER -- */
=======
.background-section {
    background-color: #f0f0f0;
    margin:0;
}

.imagem-login {
    background-image: url('../img/img-login/img-lgn.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.font-login {
    font-family: 'Questrial', sans-serif;
}

.font-login-title {
    font-family: 'Questrial', sans-serif; 
    font-weight: 800;
}

.input-layout a {
    text-decoration: none;
}

.button-entrar-login button {
    background: linear-gradient(8deg, rgb(179, 152, 4) 30%, rgb(223, 208, 126) 70%);
}

.button-entrar-login button:hover {
    background: linear-gradient(191deg, rgb(179, 152, 4) 30%, rgb(223, 208, 126) 70%);
}


/* -- BEGIN RESPONSIVE -- */

    /* -- BEGIN RESPONSIVE IPHONE -- */

    /* -- Begin to iphone 12 -- */

    @media (max-width: 390px) {
        .imagem-login {
            display: none;
        }
    }

    /* -- End to iphone 12 -- */




    /* -- BEGIN RESPONSIVE IPHONE -- */
>>>>>>> ad1dd6222d5f2d17c46e3b8d2ddcf76926edcf05
