body{
    background-color: #E0E0E0;
}

.linha_sobre_nos{
    color:white;
    background: #000;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    text-align: center;
    font-size: large;
}

.linha_sobre_nos1{
    justify-content: center;
    margin-top: 10px;
}

.sobre_nos .sobre_nos1{
    margin-top: 10px;
    
}

.sobre_nos1{
    box-sizing: border-box;
}


.social{
    margin-bottom: 45px;
}

.texto-sobre-nos{
    text-align: justify;
    font-family: 'Questrial', sans-serif;
}





/* -- RESPONSIVE - BEGIN HEADER -- */

    @media (max-width: 1000px) {
            
        header {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            justify-items: center;

            background-color: #000;
            
            padding-top: 1%;
            padding-left: 4%;
            padding-bottom: 1%;
            padding-right: 2%;  

        }  
              
      .logo_marcas{
          display: none;         
      }

      .pesquisar{
          margin-left: 5%;
      }
        

      .texto_midia {
        display: inline-block;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center; 
        padding-top: 1%;
        padding-left: 5%;
        padding-bottom: 1%;
        padding-right: 2%;
        height: 100%;
        width: 100%;            
    }

    .imagens-midia{
        display: inline-block;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;    
        background-color: #E0E0E0;            
        padding-top: 1%;
        padding-left: 5%;
        padding-bottom: 10%;
        padding-right: 2%;
        height: 100%;
        width: 100%; 

    }
    }

    @media (max-width: 800px) {

        .filtro-de-busca{
            margin-left: 1%;
            justify-content: center;
        }

        .botao-buscar{           
            width: 50%;
            justify-items: center;
            margin-left: 5%;
            margin-top: 3%;
        }
        
        .logo_marcas{
            display: none;
        }
        

        .texto_midia {
            display: inline-block;
            flex-direction: row;
            justify-content: space-between;
            justify-items: center;    
            background-color: #E0E0E0;            
            padding-top: 1%;
            padding-left: 5%;
            padding-bottom: 1%;
            padding-right: 2%;
            height: 100%;
            width: 100%;            
        }

        .imagens-midia{
            display: inline-block;
            flex-direction: row;
            justify-content: space-between;
            justify-items: center;    
            background-color: #E0E0E0;            
            padding-top: 1%;
            padding-left: 5%;
            padding-bottom: 10%;
            padding-right: 2%;
            height: 100%;
            width: 100%; 

        }
    }

 

    /* -- FOR IPHONE 6/7/8 -- */
    @media (max-width: 500px) {
 
        .logo_marcas{
            display: none;
            flex-direction: row;
            justify-content: space-between;
            justify-items: center;    
            background-color: #E0E0E0;            
            padding-top: 1%;
            padding-left: 5%;
            padding-bottom: 0%;
            padding-right: 2%;
            height: 25%;
            
        }      
      

        .texto_midia {
            display: inline-block;
            flex-direction: row;
            justify-content: space-between;
            justify-items: center;           
            padding-top: 1%;
            padding-left: 5%;
            padding-bottom: 10%;
            padding-right: 2%;
            height: 100%;
            width: 100%;            
        }

        .imagens-midia{
            display: inline-block;
            flex-direction: row;
            justify-content: space-between;
            justify-items: center;    
            background-color: #E0E0E0;            
            padding-top: 1%;
            padding-left: 5%;
            padding-bottom: 10%;
            padding-right: 2%;
            height: 100%;
            width: 100%; 

        }
       
/* -- RESPONSIVE - END HEADER -- */

.alinhamento_paragrafo{
    text-align:justify;
}
